[Unit]
Description=ASUSTOR LCD Daemon
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
ExecStart=/usr/local/sbin/openlcmd -systemd -debug
PIDFile=/run/openlcmd.pid
RestartSec=5
Restart=on-failure

[Install]
WantedBy=basic.target
